<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <form class="" action="/todo-add" method="post">
      <input type="text" name="todoAdd" placeholder="Add a todo...">
      <input type="submit" name="todoAddSubmit" value="Add todo">
      <ul>
        {{#todoList}}
        <li>
          <form class="" action="/mark-complete" method="post">
            <button type="submit" name="incompleteTask" value="{{item}}">Mark complete</button>
            {{item}}
          </form>
        </li>
        {{/todoList}}
      </ul>
      <h2>Completed Tasks</h2>
      <ul>
        {{#completedList}}
        <li>{{item}}</li>
        {{/completedList}}
      </ul>
    </form>
  </body>
</html>
